name: Build Service

on:
  push:
    branches:
      - v0.3.5
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Prepare StartOS SDK
        uses: Start9Labs/sdk@v1

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build the package
        run: |
          start-sdk init
          make

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: feedview-relay.s9pk
          path: "./*.s9pk"
