name: Build

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build ARM64 Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64
          outputs: type=docker,dest=docker-images/aarch64.tar

      - name: Pack with Start9 SDK Container
        run: |
          docker run --rm -v ${{ github.workspace }}:/workspace -w /workspace ghcr.io/start9labs/start-sdk:v0.3.5.1 sh -c "start-sdk init && start-sdk pack"

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: feedview-relay
          path: "*.s9pk"
