name: Build

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build ARM64 Docker
        uses: docker/build-push-action@v6
        with:
          context: .
          platforms: linux/arm64
          outputs: type=docker,dest=docker-images/aarch64.tar

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential pkg-config libclang-dev clang libavahi-client-dev libssl-dev

      - name: Install Rust
        run: curl https://sh.rustup.rs -sSf | sh -s -- -y --default-toolchain 1.65.0 && echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Build SDK
        run: git clone --recursive -b v0.3.3 https://github.com/Start9Labs/start-os.git && cd start-os/backend && cargo install --locked --path . --features sdk

      - name: Pack
        run: start-sdk init && start-sdk pack

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: feedview-relay
          path: "*.s9pk"
